* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 300 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #5c5c5c;
  background: #FFFFFF;
  padding: 0 20px;
}
a {
  color: #5c5c5c;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-layout {
  width: 30%;
  display: flex;
  justify-content: space-between;
  background: #eee;
}

.tab {
  padding: 20px;
  color: #3949ab;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Roboto';
  flex-basis: 30%;
  cursor: pointer;
}

.tab.active {
  background: #3949ab;
  color: #eee;
  box-shadow: 5px 6px 6px -6px #333;
}

.timer {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100px;
  height: 100px;
  font-size: 70px;
  letter-spacing: 3px;
  color: #3949ab;
  padding: 40px 0;
  margin-top: 30px;
}

.buttons {
  margin-top: 50px;
}

.button {
  background-color: transparent; /* Green */
  border: 1px solid #3949ab;
  color: #3949ab;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

  &.active {
    background: #3949ab;
    color: #eee;
  }
}
